.permission-top-tag {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.tab-serchInput-icon-div {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  border: 1px solid rgb(204, 204, 204);
  width: 100%;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: white !important;
}
.gsearch-permission {
  border: none;
  background-color: white;
  outline: none;
}
.permission-head-buttons {
  display: flex;
  justify-content: space-between;
}
.Jog-button {
  background-color: aliceblue;
  padding: 5px 20px;
  border: 1px solid gray;
  cursor: pointer;
  font-weight: 500;
}
.sonrokkhon-button {
  background-color: #27ae60;
  padding: 5px 20px;
  border: none;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.permission-card-div {
  margin-left: 6%;
  padding: 8px;
}
.permmission-card {
  width: 400px;

  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  margin: 5px;
  padding: 2%;
}
.permmission-card:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

/* Reponsiveness  */
@media only screen and (min-width: 1378px) {
  .permission-card-div {
    margin-left: 5%;
    padding: 20px 20px;
  }
}

@media only screen and (max-width: 576px) {
  .permission-card-div {
    margin-left: -5px;
    padding: 20px 20px;
  }
}
