.all-card-books-div {
  display: flex;
  flex-wrap: wrap;
}
.all-card-books {
  display: grid;
  place-items: center;
  width: 18%;
  margin: 6px;
  /* border: 1px solid gray; */
}
.all-card-books:hover {
  background-color: #f8f8f8;
  border-radius: 10px;
  cursor: pointer;
}
.all-create-news-side-tags {
  display: grid;
  place-content: center;
  font-weight: 700;
  padding-bottom: 4%;
}
.all-news-notice-tags-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.news-jodit-editor {
  padding: 20px;
  /* background: red !important; */
}
.news-jodit-editor .jodit-workplace {
  height: 42vh !important;
}
.all-books-card-p {
  font-size: 0.7rem;
}
.news-notice-search-input-div {
  display: flex;
}
.news-notice-serchInput-icon-div {
  border: 1px solid #f1f1f1;
  /* width: 200px;
    height: 20px; */
  border-radius: 6px;
  background-color: #f8f8f8;
}
.jog-korun-button-div {
  border: 1px solid rgb(238, 236, 236);
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  margin-left: 4px;
}
.jog-korun-button-div:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.jog-korun-button {
  border: none;
  background-color: #ffffff;
}
.jog-korun-button-icon {
  color: #1a8e1c;
}
.gsearch {
  background-color: #f8f8f8;
}
.icon-pen {
  margin-left: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  padding: 4px;
}
.all-news-notice-card-div {
  background-color: #f8f8f8;
  height: 540px;
  padding: 5%;
}
.all-books-side-tags {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: 700;
}
.download-icon-div {
  display: flex;
  justify-content: flex-end;
}
.download-icon {
  /* color: #f1f1f1; */
  margin-right: 10px;
}
.suchi-div {
  text-align: justify;
  margin-left: -15px;

  /* border: 1px solid gray; */
}
.all-news-notice-edit-div {
  display: grid;
  place-items: center;
  margin-top: 40%;
}

.all-books-edit {
  width: 200px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  border: 1px solid rgb(189, 189, 189);
}
.all-books-content {
  width: 200px;
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  border: none;
  background-color: #1a8e1c;
  color: white;
}
.form-control-Create-News {
  width: 100%;
  height: 190px;
  outline: none;
}
.attached-button {
  border: none;
  padding: 10px 30px;
  background-color: #77ffb0;
}
.attached-button:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.draft-prokas-button {
  border: 1px solid rgb(196, 196, 196);
  padding: 7px 20px;
}
.draft-prokas-button:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.categories-select-1 {
  border: 1px solid rgb(236, 236, 236);
  display: flex;
}
.form-select {
  /* height: 26px; */
  /* border: none; */
}
.form-select2 {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(202, 202, 202);
  outline: hidden;
}
.create-news-notice-icon {
  /* border: 1px solid gray; */
  color: #77ffb0;
  margin-top: 7px;
  cursor: pointer;
}
.prokash-date {
  display: flex;
  border: 1px solid rgb(210, 210, 211);
  cursor: pointer;
}
.create-news-calander-input {
  width: 100%;
  border: none;
  height: 37px;
  outline: none;
}
.calander-icon {
  margin-top: 5px;
  color: #505050;
}
.link {
  width: 100%;
  height: 37px;
  border: 1px solid rgb(196, 196, 196);
  outline: none;
}

/* Reponsiveness  */
@media only screen and (min-width: 1378px) {
  .all-create-news-side-tags {
    padding-bottom: 3%;
  }
  .all-news-notice-card-div {
    height: 67vh;
  }
}

@media only screen and (max-width: 576px) {
  .draft-prokas-buttons-div {
    margin-bottom: 10px;
  }
  .all-news-notice-card-div {
    height: 550px;
  }
  .suchi-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: -20px;
    padding-bottom: 20%;
  }
}

.input-field {
  padding: 5px;
  height: 25px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
}

.input-field:focus {
  border-color: #0066cc;
}

.small-icon {
  width: 20px; /* Adjust the width to make the icon smaller */
  height: 20px; /* Adjust the height to make the icon smaller */
}
