@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@400;600;800&display=swap");
.nav-rightside-div {
  display: flex;
  justify-content: space-evenly;
}
.nav-republic-img {
  width: 40px;
  margin-right: 10px;
}
.serchInput-icon-div {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  border: 1px solid gray;
  width: 33%;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #f8f8f8;
}
.gsearch {
  border: none;
  outline: none;
}
.icons-nav {
  padding: 1px;
  color: #777777;
}
.icons-nav-div {
  border: 0.7px solid rgb(226, 226, 226);
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
}

/* Sidebar  */
.sidebar-upper-list {
  background-color: #ffc000;
}
ul.sidebar-upper-ul {
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  padding-top: 30px;
}
ul.sidebar-lower-ul {
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  padding-top: 2px;
}
.side-li-link {
  padding: 7px 0px;
}
.side-li-link a {
  text-decoration: none;
  color: white;
}
.side-li-link a:hover {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid rgb(241, 241, 241);
}
.side-li-link:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border-radius: 5px;
}

.sidebar-lower-list {
  background-color: #27ae60;
  color: white;
  padding-bottom: 50px;
}
.sidebar-icons-upper {
  margin-top: 22px;
}
.sidebar-icons {
  margin-top: 4px;
}

/* Reponsiveness  */
@media only screen and (min-width: 1378px) {
  ul.sidebar-upper-ul {
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    padding-top: 40px;
  }
  ul.sidebar-lower-ul {
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    padding-top: 15%;
  }
  .sidebar-lower-div {
    padding-bottom: 22.5%;
  }
  .sidebar-icons-upper {
    margin-top: 34px;
  }
  .sidebar-icons {
    margin-top: 28px;
  }
}

@media only screen and (max-width: 576px) {
}
