@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@400;600;800&display=swap");
body {
  overflow-x: hidden;
}
.upper-arrow {
  float: left;
  cursor: pointer;
}
.upper-arrow:hover {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
.nav-rightside-div {
  display: flex;
  justify-content: space-evenly;
}
.nav-republic-img {
  width: 40px;
  margin-right: 10px;
}
.serchInput-icon-div {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  border: 1px solid rgb(238, 238, 238);
  width: 33%;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #f8f8f8;
}
.gsearch-nav {
  background-color: #f8f8f8;
  border: none;
  outline: none;
}
.icons-nav {
  padding: 1px;
  color: #777777;
}
.icons-nav-div {
  border: 0.7px solid rgb(226, 226, 226);
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
}
.icons-nav-div:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  cursor: pointer;
}

/* Sidebar  */

.sidebar-upper-list {
  background-color: #ffc000;
  height: 130px;
}
ul.sidebar-upper-ul {
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  padding-top: 30px;
}
ul.sidebar-lower-ul {
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  padding-top: 2px;
}
.side-li-link {
  padding: 7px 0px;
  font-size: 0.9rem;
}
.side-li-link a {
  text-decoration: none;
  color: white;
}
.side-li-link1 a {
  font-size: 0.9rem;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.side-li-link1 a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.side-li-link1 a:hover {
  text-decoration: none;

  border-bottom: 1px solid rgb(0, 0, 0);
}
.side-li-link1 a:after {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border-radius: 5px;
}
.side-li-link a:hover {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid rgb(241, 241, 241);
}
.side-li-link:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border-radius: 5px;
}

.sidebar-lower-list {
  background-color: #27ae60;
  color: white;
  height: 80.4vh;
  position: relative;
  overflow: hidden;
  /* padding-bottom: 20.7% !important; */
}

.sidebar-lower-div {
  /* padding-bottom: 151px; */
  /* position: fixed; */
  height: 100px;
  margin-top: 10px;
}
.sidebar-lower {
  margin-bottom: 20% !important;
  display: flex;
  text-align: justify;
  /* position: absolute; */
}
.sidebar-lower-news-div {
  height: 130px;
}
.sidebar-lower-div-vertual {
  height: 100px;
  margin-top: 10px;
}
.sidebar-lower-div-vertual {
  margin-bottom: 20% !important;
  display: flex;
  text-align: justify;
  /* position: absolute; */
}
.sidebar-icons-upper {
  margin-top: 22px;
}
.sidebar-icons {
  margin-top: 4px;
}

/* Reponsiveness  */
@media only screen and (min-width: 1378px) {
  /* .vertual-meeting-div {
    margin-top: 100% !important;
  } */
  ul.sidebar-upper-ul {
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    padding-top: 40px;
  }
  ul.sidebar-lower-ul {
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    padding-top: 15%;
  }
  .sidebar-lower-div {
    /* padding-bottom: 128%; */
  }
  .sidebar-lower-div {
    height: 160px !important;
    /* border: 1px solid gray; */
    margin-top: -7px;
  }
  .sidebar-lower-div-vertual {
    height: 100px;
    margin-top: 60%;
  }
  .sidebar-icons-upper {
    margin-top: 34px;
  }
  .sidebar-icons {
    margin-top: 28px;
  }
  .sidebar-lower-list {
    height: 86.7vh;
  }
}

@media only screen and (max-width: 576px) {
  .nav-tags {
    font-size: 0.9rem;
    display: inline;
  }

  .icons-nav-div {
    width: 8%;
    height: 100%;
  }
  .icons-nav {
    padding: 2px;
  }
  .icons-nav-div:hover {
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  }
  .nav-rightside-div {
    margin-top: 15px;
  }
  .gsearch-nav {
    width: 80%;
    outline: none;
    border: none;
  }
  .sidebar-lower-div {
    padding-bottom: 1%;
  }
  .sidebar-lower-list {
    height: 85.5vh;
  }

  .sidebar-lower-div-vertual {
    height: 100px;
    margin-top: 80%;
  }
}
