@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@400;600;800&display=swap");

body {
  overflow-x: hidden;
}
.amounts-div {
  display: flex;

  align-items: center;
  flex-wrap: wrap;
  background-color: #f8f8f8;
  margin-right: 5px;
  /* padding: 7px 15px 7px 1px; */
  width: 250px;
  height: 180px;
  border-radius: 8px;
  cursor: pointer;
}

.amount-doc-text {
  font-size: 1.2rem;
}
.doc-span1 {
  color: #0f0f0f !important;
}
.doc-span {
  color: #27ae60;
  font-size: 1.5rem;
  font-weight: 600;
}
.sob-dekhun {
  background-color: #27ae60;
  color: #f8f8f8;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}
.icons {
  color: #777777;
  margin-right: 5px;
}

.samprotik {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 39px;
  /* identical to box height, or 177% */

  color: #333333;
}

.home-serchInput-icon-div {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  /* justify-content: center; */
  align-items: center;
  border: 1px solid rgb(219, 219, 219);
  width: 33%;
  padding: 5px 10px;
  background-color: #f8f8f8;
  border-radius: 10px;
}
.gsearch-home {
  border: none;
  outline: none;
  background-color: #f8f8f8;
}
.books-index-search {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

/* Lower section  */
.select-category-div {
  display: flex;
  align-items: center;
  border: 1px solid rgb(216, 216, 216);
  padding: 1%;
  border-radius: 5px;
}
.select-category {
  height: 46px;
  border: none;
}
.select-category2 {
  height: 46px;
  /* background-color: #0f0f0f; */
  width: 100%;
  border: 1px solid rgb(204, 201, 201);
}
.form-select {
  width: 100% !important;
}
.control-icon {
  color: black;
}
.active-div {
  position: absolute;
  /* border: 1px solid gray; */
  height: 96vh;
}
.clickble-div {
  display: flex;
}

.all-books-index-show h6 {
  color: black;
}
#single-slide-div {
  /* background-color: #f2f2f2; */
  border: 1px solid rgb(233, 232, 232);
  display: flex !important;
  margin: 0 auto;
  width: 90% !important;
  /* margin-right: 5px; */
  margin: 2%;
  height: 80px;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  padding: 1%;
}
#single-slide-div:hover {
  background-color: #27ae60;
  cursor: pointer;
  color: #f2f2f2;
}

.inactive-button {
  background-color: rgb(238, 238, 238);
  color: black;
}

.active-button {
  background-color: #27ae60;
  color: rgb(245, 244, 244);
}
.home-inputs-div {
  /* position: sticky; */
}

.slide-img {
  /* width: 30px; */
}
.khosra-songrokkhon {
  display: flex;
  justify-content: right;
  align-items: center;
}
a {
  text-decoration: none !important;
}
.khosra-songrokkhon-p {
  background-color: #ffe289;
  color: #0f0f0f;
  border-bottom: none;

  padding: 10px 20px;
  border-radius: 2px;
}
.khosra-songrokkhon-p:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.home-input {
  width: 100%;
  outline: none;
  margin-bottom: 30px;
  border: 1px solid rgb(216, 216, 216);
  padding: 2%;
  border-radius: 5px;
}
.home-input-page-name {
  width: 100%;
  outline: none;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 30px;
  border: 0.7px solid #dddddd;
}
.home-input-page-number {
  width: 100%;
  outline: none;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 30px;
  border: 0.7px solid #dddddd;
}
.home-input-button1 {
  width: 150px;
  border: none;
  padding: 10px 20px;
  background-color: #ffe289;
  margin-right: 5px;
}
.home-input-button2 {
  width: 150px;
  border: none;
  padding: 10px 20px;
  background-color: #27ae60;
}
.home-input-button-div {
  display: flex;
  justify-content: center;
  float: bottom;
  /* margin-bottom: 5%; */
}

/* Responsive */
@media only screen and (min-width: 1378px) {
  .amounts-div {
    width: 320px;
    height: 180px;
  }
}

@media only screen and (max-width: 576px) {
  .doc-chap-book {
    margin-bottom: 17px;
  }
  .books-index-search {
    flex-wrap: wrap !important;
  }
  .all-books-index-show {
    width: 50%;
    /* border: 1px solid gray; */
  }
  .home-serchInput-icon-div {
    width: 70%;
  }
  .recently {
    padding: 30px 10px;
  }
  .recent-news {
    padding-bottom: 35px;
  }
  .clickble-div {
    flex-wrap: wrap;
  }
  .gsearch-home {
    width: 90%;
  }
  .amounts-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 120px;
  }
  .home-img {
    width: 40%;
  }
  .amount-doc-text {
    font-size: 1rem;
    padding-top: 10px;
  }
  .doc-span {
    font-size: 1rem;
  }
  .select-category {
    margin-bottom: 0px;
  }
  .select-category2 {
    margin-bottom: 20px;
  }

  .home-input-button-div {
    margin-top: 10px;
  }
  .select-Chapter {
    margin-top: 20px;
  }
}
