@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@400;600;800&display=swap");

body {
  overflow-x: hidden;
}
.amounts-div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f8f8f8;
  margin-right: 5px;
  /* padding: 7px 15px 7px 1px; */
  width: 250px;
  height: 180px;
}
.amount-doc-text {
  font-size: 1.2rem;
}
.doc-span {
  color: #27ae60;
  font-size: 1.5rem;
}
.sob-dekhun {
  background-color: #27ae60;
  color: #f8f8f8;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}
.icons {
  color: #777777;
  margin-right: 5px;
}

.samprotik {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 39px;
  /* identical to box height, or 177% */

  color: #333333;
}

.serchInput-icon-div {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  /* justify-content: center; */
  align-items: center;
  border: 1px solid rgb(219, 219, 219);
  width: 33%;
  padding: 5px 10px;
  border-radius: 10px;
}
.books-index-search {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Slider  */
.single-slide-div {
  background-color: #f2f2f2;
  border: 1px solid rgb(233, 232, 232);
  display: flex !important;
  margin: 0 auto;
  width: 90% !important;
  /* margin-right: 5px; */
  height: 80px;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  padding: 1%;
}
.single-slide-div:hover {
  background-color: #27ae60;
  cursor: pointer;
  color: #f2f2f2;
}

.slide-img {
  /* width: 30px; */
}
.khosra-songrokkhon {
  display: flex;
  justify-content: right;
  align-items: center;
}
.khosra-songrokkhon-p {
  background-color: #ffe289;
  padding: 10px 20px;
  border-radius: 2px;
}
.home-input {
  width: 100%;
  outline: none;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 30px;
  border: 0.7px solid #dddddd;
}
.home-input-button1 {
  width: 150px;
  border: none;
  padding: 10px 20px;
  background-color: #ffe289;
}
.home-input-button2 {
  width: 150px;
  border: none;
  padding: 10px 20px;
  background-color: #27ae60;
}
.home-input-button-div {
  display: flex;
  justify-content: center;
  /* margin-bottom: 5%; */
}

@media only screen and (min-width: 1378px) {
  .amounts-div {
    width: 320px;
    height: 180px;
  }
}

@media only screen and (max-width: 576px) {
}
