.all-card-books-div {
  display: flex;
  flex-wrap: wrap;
}
.all-card-books {
  display: grid;
  place-items: center;
  width: 18%;
  margin: 6px;
  /* border: 1px solid gray; */
}
.all-card-books:hover {
  background-color: #f8f8f8;
  border-radius: 10px;
  cursor: pointer;
}
.all-books-tags-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.all-books-card-p {
  font-size: 0.7rem;
}
.books-serchInput-icon-div {
  border: 1px solid #a09f9f;
  width: 100%;
  border-radius: 6px;
  background-color: #f8f8f8;
  padding: 3px;
}
.gsearch-book {
  background-color: #f8f8f8;
  border: none;
  outline: none;
}
.icon-pen {
  margin-left: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  padding: 4px;
}
.all-books-add-card-div1 {
  background-color: #f8f8f8;
  height: 500px;
}
.all-books-side-tags {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.download-icon-div {
  display: flex;
  justify-content: flex-end;
}
.download-icon {
  /* color: #f1f1f1; */
  margin-right: 10px;
}
.suchi-div {
  text-align: justify;
  padding-left: 20px;
}
.all-books-buttons-ful-div {
  display: grid;
  place-items: center;
  margin-top: 35%;
}

.all-books-edit {
  width: 200px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  border: 1px solid rgb(189, 189, 189);
}
.all-books-content {
  width: 200px;
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  border: none;
  background-color: #1a8e1c;
  color: white;
}
/* Reponsiveness  */
@media only screen and (min-width: 1378px) {
  .all-card-books-div {
    display: flex;
    flex-wrap: wrap;
  }
  .all-card-books {
    width: 200px;
  }
  .all-books-add-card-div1 {
    height: 754px;
  }
  .all-books-buttons-ful-div {
    display: grid;
    place-items: center;
    margin-top: 75%;
  }
  .all-books-card-p {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 576px) {
  .all-card-books {
    /* border: 1px solid gray; */
    width: 100px !important;
  }
  .all-books-card-p {
    font-size: 0.5rem;
  }
  .all-books-add-card-div1 {
    margin-bottom: 30%;
  }
}
